.first-container {
    background-color: #000000;
    /* background-image: url(https://images.unsplash.com/photo-1472173148041-00294f0814a2?auto=format&fit=crop&w=1350&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D); */
    width: 100vw;
    height: 100vh;
}

.v-align-middle {
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.typewriter {
    border-right: .15em solid #ffffff; /* The typwriter cursor */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      blink-caret .75s step-end infinite;
  }

.typewriter-disabled {
    letter-spacing: .15em; /* Adjust as needed */
    border-right: none;
}
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ffffff; }
  }